td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td.visited {
  background-color: rgba(0, 0, 0, 0.2);
}

.info-grid > .surface {
  background-color: cyan;
}

.info-grid > .isCurrent {
  background-color: red;
}

.info-grid > .isScannedNeighbor {
  background-color: blueviolet;
}

.info-grid > .isScannedNeighbor {
  background-color: cadetblue;
}

.info-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.info-cell {
  position: relative;
}

td.level-0 {
  
}
td.level-1 {
  
}
td.level-2 {
  
}
td.level-3 {
  
}
.wrapper {
  position: relative;
}

.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}